<?xml version="1.0"?>
<launch>
    <arg name="model" default="$(find reto_ros)/urdf/reto_robot.urdf"/>
    <arg name="gui" default="true" />
    <arg name="pcd_file" default="$(find reto_ros)/pcd/office.pcd"/>
    <arg name="rate" default ="0.1"/>
    <arg name="frame_id" default="/arm_2"/>
    <arg name="rvizconfig" default="$(find reto_ros)/rviz/reto_ros.rviz"/>

    <param name="robot_description" command="$(find xacro)/xacro.py $(arg model)" />
    <param name="use_gui" value="$(arg gui)"/>

    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />
    <node pkg="reto_ros" type="pcl_to_pointcloud" args="$(arg pcd_file) $(arg rate)" name="reto_pcl_to_pointcloud">
        <param name="frame_id" value="$(arg frame_id)" />
    </node>

    <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" />
</launch>